<p>This email is a confirmation receipt from your purchase on Jungle.</p>
 
<p>Below is your order summary:</p>
<% @order.line_items.each do |item| %>
  <p><%= item.product.name %></p>
  <p><%= item.product.description %></p>
<% end %>
 
<p>Your total: $<%= @order.total %></p>

<p>Thank you for your purchase!</p>